body {
  background-color: #A8CEC7;
  color: black;
}

button {
  min-height: 37px;
  min-width: 37px;
}

button:active {
  background: red;
}

#hungerTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

#signout {
  text-align: right;
  height: 36px;
  background: white;
}

.wide-div {
  background: white;
  margin-top: 10px;
  height: 110px;
  padding: 5px;
}

.fullRowHeight {
  height: 100px;
}

#hungerTable td {
  border: 1px solid grey;
  padding: 0px 5px 0px 5px;
  max-width: 220px;
  word-wrap: break-word;
  padding: 5px;
}

.photoEvent {
  width: 200px;
}

.takePhotoButton {
  display: table;
  position: relative;
  margin: 0 auto;
  background: transparent;
  border:none;
}

#photoPreview {
  height: 50px;
}

#lastPhotoPreviewContainer {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#takePhotoContainer {
  left: 10px;
  position: absolute;
}

#drawer {
  float:left;
  position:absolute;
  top: 0;
  left: 0;
}


.sickpuppy {
  float:right;
}

#food {
  float:left;
  background: transparent;
  border:none;
}

.textButtonButton {
    width: 100%;
}

.textButtonWithTextIcon{
  margin-right: 10px;
}

.textButtonGridItem {
  text-align: center;  
}

.scaleButtonGridItem, .textButtonGridItem {
  background: transparent;
  height: 56px;
  padding: 0 !important;
  margin-top: 10px !important;
  text-align: center;
}

.scaleButtonGridItem button {
  height: 100%;
}


/*
  Actions Grid Styling
*/

.actionsGridContainer div {
  background: white;
  margin-top: 10px;
}

/*
  CIRCLE PUPPY COMPONENT STYLING
*/

.circlePuppyGridItem {
  text-align: center;
  background: transparent !important;
}

.circlePuppyGridItem button {
  background: transparent;
  border: 0;
}

.circlePuppyGridItem img{
  height: 100px;
}

h1 {
  padding: 5px;
  font-size: 20pt;
  text-align: center;
}