body {
  background-color: #A8CEC7;
  color: black;
}

button {
  min-height: 37px;
  min-width: 37px;
}

button:active {
  background: red;
}

#hungerTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

#signout {
  text-align: right;
}

.wide-div {
  background: white;
  margin-top: 10px;
  height: 110px;
  padding: 5px;
}

.wide-div img {
  height: 100px;
}

#photo {
  text-align: center
} 

#medicine img, #feeling img, #period img {
  float: right;
}

#food {
  float: left;
}

#water button, #food, #photo button {
  background: transparent;
  border: 0px;
  padding: 0;
}

#medicine {
  padding: 5px;
}

#medicine button {
  margin-top: 4px;
}

#hungerTable td {
  border: 1px solid grey;
  padding: 0px 5px 0px 5px;
  max-width: 220px;
  word-wrap: break-word;
}

.photoEvent {
  width: 200px;
}
